@if (action=='list') {
<div>
    <button (click)="add()">افزودن</button>
</div>
<table>
    <thead>
        <tr>
            <th>شناسه</th>
            <th>نام و نام خانوادگی</th>
            <th>ادرس</th>
            <th>کد ملی</th>
            <th>تلفن</th>
            <th></th>
        </tr>
        <tr>
            <th><input type="text" placeholder="شناسه"></th>
            <th><input type="text" placeholder="نام و نام خانوادگی"></th>
            <th><input type="text" placeholder="ادرس"></th>
            <th><input type="text" placeholder="کد ملی"></th>
            <th><input type="text" placeholder="تلفن"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (member of data; track $index) {
        <tr>
            <td>{{member.id}}</td>
            <td>{{member.name}}</td>
            <td>{{member.address}}</td>
            <td>{{member.national}}</td>
            <td>{{member.phone}}</td>
            <td>
                <button (click)="edit(member)">ویرایش</button>
                <button (click)="remove(member)">حذف</button>
            </td>
        </tr>
    }
    </tbody>
</table>
}
@else {
    @if (action=='remove') {
<div class="alert">
    ایا از حذف این کتاب اطمینان دارید؟
</div>
}
    <form (ngSubmit)="save()">
    <div [class.makhfi]="action=='edit'">
        <input [disabled]="action=='edit' || action=='remove'" [(ngModel)]="item.id" id="id" name="id" type="number" placeholder="شناسه">
    </div>
    <div>
        <input [disabled]="action=='remove'" [(ngModel)]="item.name" id="name" name="name" type="text" placeholder="نام و نام خانوادگی">
    </div>
    <div>
        <input [disabled]="action=='remove'" [(ngModel)]="item.address" id="address" name="address" type="text" placeholder="ادرس">
    </div>
    <div>
        <input [disabled]="action=='remove'" [(ngModel)]="item.national" id="national" name="national" type="text" placeholder="کد ملی">
    </div>
    <div>
        <input [disabled]="action=='remove'" [(ngModel)]="item.phone" id="phone" name="phone" type="number" placeholder="شماره تلفن">
    </div>
    <div>
        <button type="submit">تایید</button>
        <button (click)="cancel()">انصراف</button>
    </div>
</form>

}
