table{
    width: 100%;
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid gray;
    }
    tr:nth-of-type(2n+1){
        background-color: rgb(234, 234, 234);
    }
    td,th{
        text-align: right;
        padding: 0.3em;
    }
    th{
        background-color: gray;
        color: white;
    }
    td:last-of-type{
        text-align: left;
    }
}
form{
    background-color: rgb(211, 211, 218);
    color: white;
    padding: 0.2em 0.4em;
    border: none;
    border-radius: 0.3em;
    margin: 0.2em;
}

button{
    background-color: rgb(88, 88, 255);
    color: white;
    padding: 0.2em 0.4em;
    border: none;
    border-radius: 0.3em;
    margin: 0.2em;
}
.makhfi{
    background-color: rgb(215, 143, 154);
    color: white;
    width: 10.5em;
}
th{
    input{
        width: 100%;
    }
}