/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
@font-face {
    font-family: persian;
    src: url('/font/persianFont.woff2');
}
*{
    font-family: persian;
}
.alert{
    background-color: rgb(255, 212, 219);
    color: white;
    border: 1px solid lightcoral;
    padding: 0.3em;
    border-radius: 0.4em;
    text-align: center;
    margin: 0.4em;
}